<h1 class="text-center font-bold text-3xl mt-8">Device info</h1>

<div class="m-10 grid space-y-3">
  <div class="grid grid-cols-2 justify-between">
    <input
      id="searchDevices"
      name="searchDevices"
      type="text"
      minlength="2"
      maxlength="5"
      class="rounded-lg pl-3 text-sm lg:text:lg"
      placeholder="Search Devices key..."
    />
    <button
      id="submitSearch"
      type="button"
      onclick="getAllDevices()"
      class="justify-self-end rounded-lg p-2 bg-white hover:bg-slate-700 hover:shadow-lg focus:bg-slate-700 focus:text-white focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out hover:text-white"
    >
      Search
    </button>
  </div>

  <div id="deviceInfoDiv" class="space-y-5">
    <% devices.forEach(device=> { %>
    <div class="bg-white p-5 md:p-7 lg:p-8 space-y-2">
      <div class="flex justify-between">
        <h1 class="text-xl lg:text-2xl font-bold"><%= device.deviceName %></h1>
        <h1 class="text-xl lg:text-2xl font-medium">
          Key :
          <span class="font-bold opacity-50"><%= device.deviceKey %></span>
        </h1>
      </div>
      <p class="text-xl lg:text-2xl font-medium">
        Ip address device :
        <span class="font-extrabold"><%= device.deviceIp%></span>
      </p>
      <p class="text-xl lg:text-2xl font-bold text-red-500">
        Subscribe topic MQTT {
      </p>
      <ul class="ml-3 text-xl lg:text-2xl font-medium italic text-red-500">
        <li><span>Topic 1 = </span><%= device.topic1 %></li>
        <li><span>Topic 2 = </span><%= device.topic2 %></li>
        <li><span>Topic 3 = </span><%= device.topic3 %></li>
      </ul>
      <span class="text-xl lg:text-2xl font-bold text-red-500">}</span>
      <h1 class="text-xl lg:text-2xl font-bold">
        <span>Created at </span><%= device.updatedAt %>
      </h1>
    </div>
    <% }) %>
  </div>
</div>

<script>
  async function getAllDevices() {
    try {
      const searchElement = document.getElementById("searchDevices").value;
      const response = await fetch("/devices?state=info&key=" + searchElement);
      const datas = await response.json();
      const deviceInfoDiv = document.getElementById("deviceInfoDiv");
      if (datas.statusText === "ERROR") {
        alert("Device not found !");
      } else {
        datas.map((deviceInfo) => {
          deviceInfoDiv.innerHTML += ` <div class="bg-white p-8 space-y-2">
                        <h1 class="text-2xl font-bold">${deviceInfo.deviceName}</h1>
                        <p class="text-2xl font-medium">Device Name : <span>${deviceInfo.deviceName}</span></p>
                        <p class="text-2xl font-medium">
                          Ip address Device : <span>${deviceInfo.deviceIp}</span>
                        </p>
                        <p class="text-2xl font-medium">Topic Name :</p>
                        <ul class="ml-3 text-2xl font-medium italic">
                          <li>${deviceInfo.topic1}</li>
                          <li>${deviceInfo.topic2}</li>
                          <li>${deviceInfo.topic3}</li>
                 
                        </ul>
                    </div>`;
        });
      }
    } catch (e) {
      console.log(e);
    }
  }
</script>
