<h1 class="text-center font-bold text-3xl mt-8">List Accounts</h1>
<div class="bg-white rounded-md m-5 lg:m-10">
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Username</th>
          <th scope="col" class="px-6 py-3">Password</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3 text-red-500">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% accounts.forEach((account, index) => { %>

        <tr id="account-row-<% index %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= account.username %></th>
          <td id="username" class="px-6 py-4"><%= account.password %></td>
          <td class="px-6 py-4"><%= account.email %></td>
          <td class="px-6 py-4">
            <button class="font-medium text-red-500 hover:underline" onclick="deleteAccounts('<%= account.id %>', '<%= index %>')">Delete</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<script>
  async function deleteAccounts(accountId, rowIndex) {
    try {
      const response = await fetch("/delete?state=account&id=" + accountId, {
        method: "DELETE",
      });
      const data = await response.json();
      console.log(data.message);
      if (data.message === "OK") {
        location.reload();
        const accountsRow = document.getElementById("account-row-" + rowIndex).remove();
      } else {
        alert("ERROR !");
      }
    } catch (e) {
      console.log(e);
    }
  }
</script>
