<h1 class="text-center font-bold text-3xl mt-8">Log Schedule</h1>
<div class="bg-white rounded-md m-5 lg:m-10">
  <div class="overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Device Key</th>
          <th scope="col" class="px-6 py-3">Device Name</th>
          <th scope="col" class="px-6 py-3">On</th>
          <th scope="col" class="px-6 py-3">Off</th>
          <th scope="col" class="px-6 py-3">createdAt</th>
          <th scope="col" class="px-6 py-3">updatedAt</th>
        </tr>
      </thead>
      <tbody>
        <% schedules.forEach((schedule, index) => { %>

        <tr id="schedule-row-<% index %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= schedule.deviceKey %></th>
          <td id="username" class="px-6 py-4"><%= schedule.deviceName %></td>
          <td class="px-6 py-4"><%= schedule.on %> WIB</td>
          <td class="px-6 py-4"><%= schedule.off %> WIB</td>
          <td class="px-6 py-4"><%= schedule.createdAt %></td>
          <td class="px-6 py-4"><%= schedule.updatedAt %> WIB</td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
